{% extends "base.html" %}

{% block body %}
<div>
    <h1>Welcome to Ask Mate</h1>

    <table border='4'>
        <div>
            <tr>
                {% for elem in list_of_headers %}
                    {{}}
                    <td>
                        {{ elem }}
                    </td>
            
                {% endfor %}
            </tr>
        </div>

        <div>
            {% for dictionaries in list_of_dictionaries %} <tr>
                   
                
                {% for key in list_of_headers %}
                    <td>{% if key is in dictionaries %} 
                   
                    
                       {{dictionaries[key]}}
                    
                 
                    {% endif %}</td>
                
                {% endfor %}
                <td>
                        <form action="/do_delete" method="POST">
                            <input type='submit' name = 'delete' value='Delete'>
                        </form>
                    </td> 
                    <td>
                        <form action="/question/<num_id>" method="POST">
                            <input type='submit' name = 'view' value='View'>
                        </form>
                    </td>
            
            {% endfor %}</tr>
                
        </div>
    </table> <br>
    <label for="add">Click for this button to add question</label> <br>
    <form action="/addquestion" method="POST">
        <input type='submit' name='add' value='Add'>
    </form>
    </div>

 
{% endblock %} 
