<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
</head>
<style>
    #welcome{
        font-size: 32px;
        width: 998px;
        height: 50px;
        background-color: lightgrey; 
        text-align: center; 
        padding-top: 10px;
    }
    #container{
        width: 990px;
        margin-left: auto;
        margin-right: auto;
    }
    #rectangle{
        width: 998px;
        }
    #add{
        float: right;
    }
    button{
        height: 30px;
        width: 75px;
    }
    #paragraph{
        margin-top: 20px;
    }
</style>
<body>
    <div id='container'>
        <div id='welcome'>Welcome to AskMate</div>
        <div id='paragraph'>Please fill the form</div>    
            <div class='area'>
                    <p>Question</p>
                    <p>{{ question }}</p>
                <form action='/single_questions/<id>/' method="POST">
                <textarea rows='10' cols='122' placeholder="Your answer here..."></textarea>
            </div>
            <div id='rectangle'>
                <div id='add'><button type="submit"; value="submit">add</button></div></form>
        <form action='/list'>
            <div id='back'><button>backa</button></div>
            <div style="clear:both"></div>
        </form>
            </div>
        
        </div>
        
            
    </div>
    
   


    </div>
    
</body>
</html>