{% extends 'base.html' %}

{% block body %}

<h1>Welcome to Ask Mate</h1>
<div class='area'>
    <p>add {{question_or_answer}}</p>
    <form action='/add/<question>' method="POST">
        <p>Title of question:</p>
        <textarea minlenght='10' rows='5' cols='122' name="title" placeholder="Title...">
            {{title}}
        </textarea>
        <p>Message:</p>
        <textarea minlenght='10' rows='10' cols='122' name="question" placeholder="Your question here...">
            {{message}}
        </textarea>
    <div><button type="submit" value="add">Add your {{question_or_answer}}</button>
    </form> 
    <form action='/list' method="GET">
    <button>Back</button>
    </form>
    </div>
</div>   
{% endblock %} 