{% extends "base.html" %}

{% block body %}
<div>
    <h1 align = "center">Welcome to Ask Mate</h1>

    <table border='4'>
        <div>
            <tr>
                {% for elem in list_of_headers %}
                
                    <td>
                        {{ elem }}
                    </td>
            
                {% endfor %}
            </tr>
        </div>

        <div>
            {% for dictionaries in list_of_dictionaries %} <tr>
                   
                
                {% for key in list_of_headers %}
                    <td>{% if key is in dictionaries %} 
                   
                    
                       {{dictionaries[key]}}
                    
                        {% endif %}</td>
                
                {% endfor %}
                
                {% set id = dictionaries['id'] %}
                
                        
                    <td>
                        <form action="/do_delete/{{id}}" method="POST">
                            <input type='submit' name = 'delete' value='Delete'>
                        </form>
                    </td> 
                    <td>
                        <form action="/list_of_answer" method="POST">
                            <input type='submit' name = 'view_answer' value='View Answer'> 
                        </form>
                    </td>
                    <td>
                        <form action="/comment" method="GET">
                            <input type='submit' name = 'view_comment' value='View Comment'>
                        </form>
                    </td>
            
            {% endfor %}</tr>
                
        </div>
    </table> <br>
    <div>
        <label for="add">
            Click for this button to add question
        </label> <br>

        <form action="/addquestion" method="POST">
            <input type='submit' name='add_question' value='Add Question'>
        </form>
    </div>

 
{% endblock %} 
