{% extends 'base.html' %}

{% block body %}
<div>
    <h1>Welcome to Ask Mate</h1>

    <table border='4'>
        <tr>{% for elem in list_of_headers %}
            <td>{{ elem }}</td>
        </tr>
        <tr>{% for key, value in list_of_dictionaries %}
        <td>{{value}}</td>
        {% endfor %}
        <td><form action="/do_delete" method="POST"><input type='submit' name = 'delete' value='Delete'></form></td> 
        <td><form action="/show_single_question" method="POST"><input type='submit' name = 'view' value='View'></form></td></tr>
</div>

