{% extends "base.html" %}

{% block body %}
<div>
    <h1>Welcome to Ask Mate</h1>
    <div>
        <table border = '1'> 
            <tr>
                <td> Question Title </td>
                <td> {{ title_q }} </td>
            </tr> 
        </table>  <br>
    </div>  
    
    <table border='4'>
        <td> List of Answer </td>    
        <div>
            <tr>
                {% for key in list_of_headers %}
                    <td>
                    {{ key }}
                    </td>
                {%endfor%}
            </tr>
        </div>

        <div>
            {% for dictionaries in list_of_answer %}
            <tr>                    
                {% for key in list_of_headers %}
                    <td>
                        {% if key is in dictionaries %} 
                           {{dictionaries[key]}}
                        {% endif %}
                    </td>
                {% endfor %}
                        {% set id = dictionaries['id'] %}
                    <td>
                        <form action="/do_delete/{{id}}" method="POST">
                            <input type='submit' name = 'delete' value='Delete'>
                        </form>
                    </td> 
                    <td>
                        <form action="/add_comment" method="POST">
                            <input type='submit' name = 'Add_Comment' value='Add Answer'>
                        </form>
                    </td> 
            </tr>
            {% endfor %}
        </div>
    </table> <br>

    <div>
            <label for="add">
                Click for this button to add answer
            </label> <br>
    
            <form action="/addquestion" method="POST">
                <input type='submit' name='Add_answer' value='Add Answer'>
            </form>
        </div>
    
     
{% endblock %} 
    